.header {
  background: $white;
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  & > nav {
    padding-top: 0.67rem;
    padding-bottom: 0.75rem;
  }

  &__left {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: capitalize;

    @include breakpoint-down(large) {
      font-size: $font-lg;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $gray;
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__right {

  }

  &__links {
    a {
      font-size: .75rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: color 200ms ease-in-out;
      margin-right: 4.125rem;
      transition: color 400ms ease-in-out;

      &:hover {
        color: $main;
      }
      &.active {
        color: $main;
      }

    }
  }

  &__lang {
    & > button {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      border: none;
      width: .9375rem;
      height: .625rem;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
      }
    }
    & .langFr {
      background-image: url("../../images/france.png");
    }
    & .langEn {
      background-image: url("../../images/amerique.png");
    }

    & > button:not(:last-child) {
      margin-right: .375rem;
      @include breakpoint-down(medium) {
        margin-right: 1rem;
      }
    }

  }


  &__menu {
    position: absolute;
    left: 50%;
    width: calc(100% - 3rem);
    padding: 1.625rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    background: $white;
    transform: translateX(-50%);
    z-index: 999;

    a {
      display: block;
      text-align: center;
      padding: 0.625rem;
      color: $black;
    }
  }

}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}