$main: #EB5956;
$bgGray: #F2F5F7;
$textGray: #4F4F4F;
$gray: #333333;
$black: #000000;
$white: #FFFFFF;

//Font Sizes
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //48px
