.footer {
  & > .container {
    padding-top: 2.3125rem;
    padding-bottom: 2.3125rem;
    @include breakpoint-down(medium) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

  }
  &__links {
    @include breakpoint-down(medium) {
      margin-bottom: 1.5rem;
    }
    a {
      font-weight: 700;
      color: $gray;
      transition: color 400ms ease-out;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      &:hover {
        color: $main;
      }
    }
  }
  &__icons {
    & > a {
      display: flex;
      &:not(:last-child) {
        margin-right: 0.875rem;
      }
    }img {
           width: 1.5rem;
           height: 1.5rem;
           transition: all 400ms ease-out;
       &:hover {
         transform: scale(1.2);
       }

    }
  }

}